$paars: hsla(288, 59%, 62%, 1);
$blauw: rgb(49, 150, 255);
$geel: rgb(255, 221, 38);
$roboto: 'Roboto',
sans-serif;
$alfa: 'Alfa Slab One',
cursive;
body {
    margin-left: 5%;
    font-family: $roboto;
    h1 {
        font-size: 45px;
        line-height: 50px;
        clear: both;
    }
    h2 {
        font-size: 30px;
        line-height: 40px;
        clear: both;
        padding-top: 10px;
    }
    h3 {
        font-size: 22px;
        line-height: 38px;
        clear: both;
    }

    p {
        max-width: 700px;
    }
}

.headertext {
    img {
        max-height: 80px;
        border-radius: 80px;
        margin-top: 18px;
    }
    background-color: black;
    color: white;
    min-height: 100px;
    max-width: 90%;
    margin-bottom: -5px;
    p {
        z-index: 1;
        text-align: center;
        font-size: 70px;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 20px;
        line-height: 80px;
        font-family: $alfa;
        position: relative
    }
    a {
        float: right;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .dropdown {
        border-radius: 5px;
        float: right;
        padding-right: 15px;
        margin-top: -60px;
        overflow: hidden;
        .dropbtn {
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: #333;
            font-family: inherit;
            margin: 0;
        }
    }
    a:hover,
    .dropdown:hover .dropbtn {
        background-color: $geel;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9; //  min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: right
        }
    }
    .dropdown:hover .dropdown-content {
        display: block
    }
}

/*navigatie tot lijn 162*/

.navbar {
    width: 100%;
    max-width: 90%;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #333;
    font-family: Arial;
    text-align: center;
    ul {
        display: inline-block;
        align-content: space-between;
        li {
            float: left;
            margin: -10px 0px;
            a {
                display: block;
            }
        }
    }
    a {
        float: left;
        font-size: 16px;
        line-height: 18px;
        color: white;
        text-align: center;
        padding: 15px 17px;
        text-decoration: none;
    }
    .dropdown {
        float: left;
        overflow: hidden;
        .dropbtn {
            font-size: 16px;
            border: none;
            outline: none;
            color: white;
            padding: 15px 17px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }
    }
    a:hover,
    .dropdown:hover .dropbtn {
        background-color: $geel;
        color: #333
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            margin-top: -5px;
            text-align: left
        }
    }
    .dropdown:hover .dropdown-content {
        display: block
    }
}

.kleuren,
.plaatsing,
.uitleg {

    margin-left: 5%
}

/*kleuren tot lijn 181*/

#kleur {
    float: left;
    width: 170px;
    padding: 10px 5px;
    margin: 10px 20px 10px 0px;
    li {
        display: block;
        margin-left: -20px;
    }
}

/*tabel typo tot lijn 198*/

table {
    margin-left: 5%;
    th {
        text-align: left;
        min-width: 90px;
        border-bottom: 1px solid $paars;
    }
    tr {
        line-height: 25px;
    }
    td {
        padding-right: 15px;
    }
    tr:first-of-type {
        font-size: 20px;
        font-weight: 500;
    }
}

.buttons {
    #button1,
    #button2,
    #button3 {
        background-color: #333;
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        margin-right: 20px;
        margin-top: 20px;
        border-radius: 4px;
        text-decoration: none;
        font-size: 16px;
        line-height: 18px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }
    #button1 {
        margin-left: 5%
    }
    #button1:hover {
        background-color: $paars;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        color: white;
    }
    #button2:hover {
        background-color: $geel;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        color: #333;
    }
    #button3:hover {
        background-color: $blauw;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        color: #333;
    }
    .hover {
        #button1 {
            background-color: $paars;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            color: white;
        }
        #button2 {
            background-color: $geel;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            color: #333;
        }
        #button3 {
            background-color: $blauw;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            color: #333;
        }
    }
}

hr {
    margin-top: 20px;
    margin-right: 5%;
    background-color: $paars
}

.icons {

    .groot img {
        max-height: 150px;
        margin-left: 5%
    }

    .klein img {
        max-height: 40px;
        &:first-of-type {
            margin-left: 6%
        }
    }
}

footer {
    background-color: #333;
    margin-top: 20px;
    margin-left: -5%;
    .klein img {
        max-height: 40px;
        &:first-of-type {
            margin-left: 6%
        }
    }
}
