/* line 8, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
body {
  margin-left: 5%;
  font-family: "Roboto", sans-serif; }
  /* line 11, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
  body h1 {
    font-size: 45px;
    line-height: 50px;
    clear: both; }
  /* line 16, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
  body h2 {
    font-size: 30px;
    line-height: 40px;
    clear: both;
    padding-top: 10px; }
  /* line 22, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
  body h3 {
    font-size: 22px;
    line-height: 38px;
    clear: both; }
  /* line 28, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
  body p {
    max-width: 700px; }

/* line 33, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
.headertext {
  background-color: black;
  color: white;
  min-height: 100px;
  max-width: 90%;
  margin-bottom: -5px; }
  /* line 34, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
  .headertext img {
    max-height: 80px;
    border-radius: 80px;
    margin-top: 8px; }
  /* line 44, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
  .headertext p {
    z-index: 1;
    text-align: center;
    font-size: 70px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 80px;
    font-family: "Alfa Slab One", cursive;
    position: relative; }
  /* line 55, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
  .headertext a {
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
  /* line 63, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
  .headertext .dropdown {
    border-radius: 5px;
    float: right;
    padding-right: 15px;
    margin-top: -60px;
    overflow: hidden; }
    /* line 69, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
    .headertext .dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: #333;
      font-family: inherit;
      margin: 0; }
  /* line 80, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
  .headertext a:hover,
  .headertext .dropdown:hover .dropbtn {
    background-color: #ffdd26; }
  /* line 84, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
  .headertext .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
    /* line 90, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
    .headertext .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: right; }
  /* line 99, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
  .headertext .dropdown:hover .dropdown-content {
    display: block; }

/*navigatie tot lijn 162*/
/* line 106, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
.navbar {
  width: 100%;
  max-width: 90%;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #333;
  font-family: Arial;
  text-align: center; }
  /* line 115, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
  .navbar ul {
    display: inline-block;
    align-content: space-between; }
    /* line 118, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
    .navbar ul li {
      float: left;
      margin: -10px 0px; }
      /* line 121, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
      .navbar ul li a {
        display: block; }
  /* line 126, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
  .navbar a {
    float: left;
    font-size: 16px;
    line-height: 18px;
    color: white;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none; }
  /* line 135, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
  .navbar .dropdown {
    float: left;
    overflow: hidden; }
    /* line 138, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
    .navbar .dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: white;
      padding: 15px 17px;
      background-color: inherit;
      font-family: inherit;
      margin: 0; }
  /* line 149, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
  .navbar a:hover,
  .navbar .dropdown:hover .dropbtn {
    background-color: #ffdd26;
    color: #333; }
  /* line 155, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
  .navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
    /* line 162, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
    .navbar .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      margin-top: -5px;
      text-align: left; }
  /* line 172, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
  .navbar .dropdown:hover .dropdown-content {
    display: block; }

/* line 177, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
.kleuren,
.plaatsing,
.uitleg {
  margin-left: 5%; }

/*kleuren tot lijn 181*/
/* line 186, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
#kleur {
  float: left;
  width: 170px;
  padding: 10px 5px;
  margin: 10px 20px 10px 0px; }
  /* line 191, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
  #kleur li {
    display: block;
    margin-left: -20px; }

/*tabel typo tot lijn 198*/
/* line 199, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
table {
  margin-left: 5%; }
  /* line 201, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
  table th {
    text-align: left;
    min-width: 90px;
    border-bottom: 1px solid #c065d7; }
  /* line 206, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
  table tr {
    line-height: 25px; }
  /* line 209, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
  table td {
    padding-right: 15px; }
  /* line 212, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
  table tr:first-of-type {
    font-size: 20px;
    font-weight: 500; }

/* line 219, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
.buttons #button1,
.buttons #button2,
.buttons #button3 {
  background-color: #333;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; }

/* line 236, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
.buttons #button1 {
  margin-left: 5%; }

/* line 239, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
.buttons #button1:hover {
  background-color: #c065d7;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  color: white; }

/* line 244, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
.buttons #button2:hover {
  background-color: #ffdd26;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  color: #333; }

/* line 249, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
.buttons #button3:hover {
  background-color: #3196ff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  color: #333; }

/* line 255, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
.buttons .hover #button1 {
  background-color: #c065d7;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  color: white; }

/* line 260, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
.buttons .hover #button2 {
  background-color: #ffdd26;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  color: #333; }

/* line 265, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
.buttons .hover #button3 {
  background-color: #3196ff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  color: #333; }

/* line 273, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
hr {
  margin-top: 20px;
  margin-right: 5%;
  background-color: #c065d7; }

/* line 281, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
.icons .groot img {
  max-height: 150px;
  margin-left: 5%; }

/* line 286, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
.icons .klein img {
  max-height: 40px; }
  /* line 288, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
  .icons .klein img:first-of-type {
    margin-left: 6%; }

/* line 294, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
footer {
  background-color: #333;
  margin-top: 20px;
  margin-left: -5%; }
  /* line 298, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
  footer .klein img {
    max-height: 40px; }
    /* line 300, C:/Users/lisav/Documents/GitHub/1718-nmd1-eo-lisavanw2/pages/css/pages.scss */
    footer .klein img:first-of-type {
      margin-left: 6%; }

/*# sourceMappingURL=pages.css.map */